body{
	width: 100%;
	height: 100%;
}

#example {
	width: 90%;
	
	margin-left: auto;
	margin-right: auto;
}

#example canvas{
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;
}

canvas{
	background-image: url(../assets/graphics/tile.png);
}