/*body, html{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}
*/
/*
#example {
	width: 90%;
	
	margin-left: auto;
	margin-right: auto;
}*/

/*#example canvas{
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;
}
*/